html,
body {
  height: 100%;
}

body {
  background: radial-gradient(#2aa4d5, #030633);
  overflow: hidden;
  perspective: 500px;
}

.cube {
  bottom: 0;
  height: 150px;
  left: 0;
  margin: auto;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  right: 0;
  top: 0;
  width: 150px;
  opacity: .75;
  animation: rotate 10s linear infinite;
}

.face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cvs{border:1px solid #444;}
.back {}

.left {
  transform: translateX(-150px) rotateY(-90deg);
  transform-origin: right center;
}

.right {
  transform: translateX(150px) rotateY(90deg);
  transform-origin: left center;
}

.top {
  transform: translateY(-150px) rotateX(90deg);
  transform-origin: bottom center;
}

.bottom {
  transform: translateY(150px) rotateX(-90deg);
  transform-origin: center top;
}

.front {
  transform: translateY(450px) translateZ(-150px) rotateX(180deg);
  transform-origin: center -150px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(720deg)
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg)
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(720deg)
  }
}